# ignore files except
*
!*.c
!*.cpp
!Makefile
!c_programs
!cpp_programs
!java_programs
!assignments/** */
!assignment_questions.txt
# git config user.name "gkalidas"
# git config user.email "ganeshlondhe2020@gmail.com"
# git config --local --list
